@CHARSET "UTF-8";

body { background-color: #fafafa; color: #111; font-family: "Helvetica Neue", "Helvetica", sans-serif; }

h1, h2, h3, h4 { line-height: 1.2em; font-weight: bold; }
h1 { font-size: 60px; letter-spacing: 1px; }
h2 { font-size: 26px; }
h4 { font-size: 18px; }

p { font-size: 17px; }



#top-alert { text-align: center; font-size: 16px; background-color: #FFD942; color: #111; border: 1px #f5c400 solid; padding: 14px 25px; font-weight: bold; margin-bottom: 15px; } 
#main { width: 600px; margin: 10px auto; line-height: 1.2em }
#main.home { text-align: center; }
#main.report { width: 500px; margin: 0 auto; }
#main.admin { width: 875px; }

.logo { text-align: center; }

.small { font-size: 12px; line-height: 1.2em }
.block { padding: 15px; }
.occupy { color: #A00; }
.highlight { color: #00f; font-weight: bold; }
.hidden { display: none; }
.helper { font-weight: normal; font-size: 13px; }
.instructions { padding: 4px 0 23px 0; }


/* FORM STYLES */
form { border: 1px #ddd solid; padding: 18px; background-color: #fff; }
legend { font-weight: bold; font-size: 16px; }
dt { margin-bottom: 3px; font-weight: bold; }
dd { margin-bottom: 23px; }

input.text { width: 200px; border: 1px #bbb solid; font-size: 14px; padding: 4px; }
.button.submit { font-size: 16px; font-weight: bold; color: #fff; background-color: #A00; padding: 7px 9px; border: 0px; text-decoration: none; }


/* REPORT PAGE STYLES */
ul.needs li { font-size: 13px; line-height: 1.5em; }
ul.needs li input[type=checkbox] { position: relative; top: -1px; }


/* ADMIN PAGE STYLES */
table.aidees { font-size: 12px; }
table.aidees tr { border-bottom: 1px #ccc solid; vertical-align: top; }
table.aidees tr.helped { background-color: #ddd }
table.aidees th, table.aidees td { padding: 12px 8px; }
table.aidees th { font-weight: bold; }

table.aidees tr.staten .neighborhood { color: #ff0505 }
table.aidees tr.rockaway .neighborhood { color: #0b05fa }
table.aidees tr.coney .neighborhood { color: #ff9e05 }

table.aidees .button { font-size: 12px; font-weight: normal; padding: 5px 10px; }

table.aidees .column {}
table.aidees .column.neighborhood {}
table.aidees .column.need {}
table.aidees .column.address { width: 175px; }
table.aidees .column.contact {}
table.aidees .column.date-added {}
table.aidees .column.helping {}
table.aidees .column.controls {}

table.aidees .details { font-size: 11px; font-style: italic; }

